<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Saved measurements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (measurement of (storageService.measurements$ | async); track
    measurement.id) {
    <ion-item>
      <ion-label>{{ measurement.name }}</ion-label>
      <ion-label>{{ measurement.date }}</ion-label>

      <ion-button
        (click)="getMeasurementAndOpenModal(measurement)"
        expand="block"
        fill="solid"
        id="edit-measurement-modal"
        >Edit</ion-button
      >

      <ion-button
        (click)="confirmDelete(measurement.id, measurement.name)"
        expand="block"
        fill="solid"
        color="danger"
        >Delete</ion-button
      >
    </ion-item>
    } @empty {
    <ion-item>
      <ion-label>No measurements yet</ion-label>
    </ion-item>
    }
  </ion-list>

  <ion-modal
    (willDismiss)="onWillDismiss($event)"
    (didPresent)="onModalDidPresent()"
  >
    <ng-template>
      @if (measurementToEdit) {
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Edit measurement</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <div
              #savedHeatmapCanvasWrapper
              style="width: 100%; height: 300px; position: relative"
            >
              <canvas
                #savedHeatmapCanvas
                style="width: 100%; height: 100%; display: block"
              ></canvas>
            </div>
          </ion-item>

          <ion-item>
            <ion-input
              label="Enter a new name of the measurement"
              labelPlacement="stacked"
              type="text"
              placeholder="Measurement name"
              [(ngModel)]="measurementToEdit.name"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
      }
    </ng-template>
  </ion-modal>
</ion-content>
