<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Saved measurements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (measurement of storageService.measurements ; track measurement.id) {
    <ion-item>
      <ion-label>{{ measurement.name }}</ion-label>

      <ion-button expand="block" fill="solid">Edit</ion-button>

      <ion-button
        (click)="confirmDelete(measurement.id, measurement.name)"
        expand="block"
        fill="solid"
        color="danger"
        >Delete</ion-button
      >
    </ion-item>
    } @empty {
    <ion-item>
      <ion-label>No measurements yet</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
