<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Measure </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <ion-label>SSID: {{ currentSsid }}</ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-label>Signal strength: {{ currentRssi }} dBm</ion-label>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div
        #canvasWrapper
        style="width: 100%; height: 300px; position: relative"
      >
        <canvas
          #heatmapCanvas
          style="width: 100%; height: 100%; display: block"
        ></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Save measurement</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Enter the name of measurement"
            labelPlacement="stacked"
            type="text"
            placeholder="Measurement name"
            [(ngModel)]="savedMeasurement.name"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-padding-bottom">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-button
        expand="block"
        fill="solid"
        size="large"
        (click)="turnLeft()"
        [disabled]="!isMeasuring"
        ><--</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button
        expand="block"
        fill="solid"
        size="large"
        (click)="turnRight()"
        [disabled]="!isMeasuring"
        >--></ion-button
      >
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-button
        expand="block"
        fill="solid"
        size="large"
        color="success"
        (click)="startMeasuring()"
        [disabled]="isMeasuring"
        >Start</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button
        id="open-modal"
        expand="block"
        fill="solid"
        size="large"
        color="danger"
        (click)="stopMeasuring()"
        [disabled]="!isMeasuring"
        >Stop</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
